.profile {
    padding: 3rem 0;
    display: flex;
    align-items: center;
}

.p-pic {
    max-width: 50%;
    margin-right: 3rem;
    width: 200px;
    border: 1px solid #eee;
    padding: 5rem;
}

.p1,
.p2,
.p3,
.p4 {
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 1rem 0;
}

.prof h3 {
    text-align: center;
    margin-top: 2.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-size: 2rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
}