<div class="prof">
    <h3>Github user Search engine</h3>
    <div class="profile">
        <div class="p-pic">
            <img src="{{myInfo.avatar_url}}" alt="">
        </div>
        <div class="p-cont">
            <p class="p1">FullNames: Obiero felix</p>
            <p class="p2">Github Username: {{myInfo.login}}</p>
            <p class="p3">Folowing: {{myInfo.following}}</p>
            <!-- <p class="p4">Email: {{myInfo.email}}</p> -->
            <!-- <p class="p4">Location:</p> -->
        </div>
    </div>
</div>