<div class="interface">
    <h1>Search User</h1>
    <div class="user">
        <input type="text" #search placeholder="Enter Github Username">
        <button type="submit" (click)="getVal(search.value)"><i class="fas fa-search"></i></button>
    </div>
    <div class="show-user">
        <div class="p-cont" *ngIf="searchData">
            <!-- <p class="p1">FullNames: Obiero felix </p> -->
            <p class="p2">Github Username : {{searchData.login}}</p>
            <p class="p3">Folowing : {{searchData.following}}</p>
            <!-- <p class="p3">Number of Repos: {{searchData.public_repos"}}</p> -->
        </div>
    </div>
</div>