.main-nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.navbar {
    padding: 1.2rem;
    text-align: center;
    align-items: center;
}

ul {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
}

ul li {
    padding: 0 2rem;
    list-style: none;
}

ul li a {
    color: #000;
    list-style: none;
    text-decoration: none;
}