.interface {
    text-align: center;
    align-items: center;
    padding: 4rem 0;
}

.interface h1 {
    padding: 2rem 0;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
}

.user {
    align-items: center;
}

input {
    width: 600px;
    max-width: 80%;
    padding: 1rem;
    border-radius: 5rem;
    color: inherit;
    font-size: 1.2rem;
    outline: none;
    letter-spacing: .15rem;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    font-size: 1.2rem;
    letter-spacing: .15rem;
}

button {
    text-align: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
}

button i {
    font-size: 1.5rem;
    margin-left: 1.2rem;
}

.repo {
    overflow-x: auto;
    text-align: left;
    padding: .7rem 0;
    border-bottom: 1px solid #eee;
}